# coding: utf-8

"""
    Knowledge-Graph Create API

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)  # noqa: E501

    The version of the OpenAPI document: 1.0.0
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from deepsearch.cps.apis.kg.create.api_client import ApiClient
from deepsearch.cps.apis.kg.create.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class IndicesApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def rebuild_indices(self, node_sets, node_tables, **kwargs):  # noqa: E501
        """rebuild_indices  # noqa: E501

        Rebuild the indices for fast node-lookup and node-search.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.rebuild_indices(node_sets, node_tables, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str node_sets: Rebuild the node sets for the categories and databases. (required)
        :param str node_tables: Rebuild the node tables for the node-name search. (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.rebuild_indices_with_http_info(node_sets, node_tables, **kwargs)  # noqa: E501

    def rebuild_indices_with_http_info(self, node_sets, node_tables, **kwargs):  # noqa: E501
        """rebuild_indices  # noqa: E501

        Rebuild the indices for fast node-lookup and node-search.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.rebuild_indices_with_http_info(node_sets, node_tables, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str node_sets: Rebuild the node sets for the categories and databases. (required)
        :param str node_tables: Rebuild the node tables for the node-name search. (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = [
            'node_sets',
            'node_tables'
        ]
        all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout'
            ]
        )

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method rebuild_indices" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'node_sets' is set
        if self.api_client.client_side_validation and ('node_sets' not in local_var_params or  # noqa: E501
                                                        local_var_params['node_sets'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `node_sets` when calling `rebuild_indices`")  # noqa: E501
        # verify the required parameter 'node_tables' is set
        if self.api_client.client_side_validation and ('node_tables' not in local_var_params or  # noqa: E501
                                                        local_var_params['node_tables'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `node_tables` when calling `rebuild_indices`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'node_sets' in local_var_params and local_var_params['node_sets'] is not None:  # noqa: E501
            query_params.append(('nodeSets', local_var_params['node_sets']))  # noqa: E501
        if 'node_tables' in local_var_params and local_var_params['node_tables'] is not None:  # noqa: E501
            query_params.append(('nodeTables', local_var_params['node_tables']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/indices/build', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)
